.form{
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 1rem;
}
.textField > label{
    color: white;
}
.textField:focus{
    background-color: aqua;
}
.textField{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
.button{
    width: 50%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(40, 40, 40);
    font-size: 1.2rem;
    border: none;
    font-weight: 500;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button:hover{
    scale: 1.1;
}

@media only screen and (max-width: 430px) {
    .form {
      width: 100%;
      padding: 1rem 1rem;
    }
}

