.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding: 0.5rem 0;
}
.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dataDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.dataDiv>div{
    max-width: 450px;
}

@media only screen and (max-width:430px) {

    
}